#WelcomePage {
	background-image: url(../img/welcomePageBackground.png);
	background-repeat: repeat-x;
	background-color: #F2F2F2;
	text-align: center;
}

#WelcomePageLogo {
	top: 20%;
	text-align: center;
}